/OOP_HM/OOP_HM/bin/Debug/OOP_HM.exe
/OOP_HM/OOP_HM/bin/Debug/OOP_HM.exe.config
/OOP_HM/OOP_HM/bin/Debug/OOP_HM.pdb
/OOP_HM/OOP_HM/obj/Debug/CoreCompileInputs.cache
/OOP_HM/OOP_HM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OOP_HM/OOP_HM/obj/Debug/OOP_HM.csproj.FileListAbsolute.txt
/OOP_HM/OOP_HM/obj/Debug/OOP_HM.exe
/OOP_HM/OOP_HM/obj/Debug/OOP_HM.pdb
/OOP_HM/OOP_HM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OOP_HM/OOP_HM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OOP_HM/OOP_HM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
